
NET clk  LOC = L16 |  IOSTANDARD = LVCMOS33 ;

Net clk  TNM_NET = clk_timing ;
TIMESPEC TS_clk_timing = PERIOD clk_timing 125000 kHz ;

#NET reset LOC= Y16 |  IOSTANDARD = LVCMOS33 ;

NET led_io[0] LOC = M14  |  IOSTANDARD = LVCMOS33;
NET led_io[1] LOC = M15  |  IOSTANDARD = LVCMOS33;
NET led_io[2] LOC = G14  |  IOSTANDARD = LVCMOS33;
NET led_io[3] LOC = D18  |  IOSTANDARD = LVCMOS33;

NET push_io[0] LOC = R18  |  IOSTANDARD = LVCMOS33;
NET push_io[1] LOC = P16  |  IOSTANDARD = LVCMOS33;
NET push_io[2] LOC = V16  |  IOSTANDARD = LVCMOS33;
NET push_io[3] LOC = Y16  |  IOSTANDARD = LVCMOS33;

NET switch_io[0] LOC = G15  |  IOSTANDARD = LVCMOS33;
NET switch_io[1] LOC = P15  |  IOSTANDARD = LVCMOS33;
NET switch_io[2] LOC = W13  |  IOSTANDARD = LVCMOS33;
NET switch_io[3] LOC = T16  |  IOSTANDARD = LVCMOS33;

NET RED[4] LOC= F19 |  IOSTANDARD = LVCMOS33 ;
NET RED[3] LOC= G20 |  IOSTANDARD = LVCMOS33 ;
NET RED[2] LOC= J20 |  IOSTANDARD = LVCMOS33 ;
NET RED[1] LOC= L20 |  IOSTANDARD = LVCMOS33 ;
NET RED[0] LOC= M19 |  IOSTANDARD = LVCMOS33 ;

NET GREEN[5] LOC=F20 |  IOSTANDARD = LVCMOS33 ;
NET GREEN[4] LOC=H20 |  IOSTANDARD = LVCMOS33 ;
NET GREEN[3] LOC=J19 |  IOSTANDARD = LVCMOS33 ;
NET GREEN[2] LOC=L19 |  IOSTANDARD = LVCMOS33 ;
NET GREEN[1] LOC=N20 |  IOSTANDARD = LVCMOS33 ;
NET GREEN[0] LOC=H18 |  IOSTANDARD = LVCMOS33 ;

NET BLUE[4] LOC=G19 |  IOSTANDARD = LVCMOS33 ;
NET BLUE[3] LOC=J18 |  IOSTANDARD = LVCMOS33 ;
NET BLUE[2] LOC=K19 |  IOSTANDARD = LVCMOS33 ;
NET BLUE[1] LOC=M20 |  IOSTANDARD = LVCMOS33 ;
NET BLUE[0] LOC=P20 |  IOSTANDARD = LVCMOS33 ;

NET VGA_HS LOC=P19 |  IOSTANDARD = LVCMOS33 ;
NET VGA_VS LOC=R19 |  IOSTANDARD = LVCMOS33 ;

NET CAMERA_DATA[7] LOC =Y17 | IOSTANDARD=LVCMOS33; # JE10
NET CAMERA_DATA[6] LOC =T17 | IOSTANDARD=LVCMOS33; # JE9
NET CAMERA_DATA[5] LOC =U17 | IOSTANDARD=LVCMOS33; # JE8
NET CAMERA_DATA[4] LOC =V13 | IOSTANDARD=LVCMOS33; # JE7
NET CAMERA_DATA[3] LOC =V12 | IOSTANDARD=LVCMOS33; # JE1
NET CAMERA_DATA[2] LOC =W16 | IOSTANDARD=LVCMOS33; # JE2
NET CAMERA_DATA[1] LOC =J15 | IOSTANDARD=LVCMOS33; # JE3
NET CAMERA_DATA[0] LOC =H15 | IOSTANDARD=LVCMOS33; # JE4

#NET CAMERA_PWREN	LOC=W14 | IOSTANDARD=LVCMOS33; # JC7
#NET CAMERA_RST	LOC=T12 | IOSTANDARD=LVCMOS33; # JC9
#NET CAMERA_SCL	LOC=V15 | IOSTANDARD=LVCMOS33; # JC1
#NET CAMERA_SDA	LOC=T11 | IOSTANDARD=LVCMOS33; # JC3

NET CAMERA_XCLK  LOC=T14 | IOSTANDARD=LVCMOS33; # JD1
NET CAMERA_PCLK  LOC=V17 | IOSTANDARD=LVCMOS33; # JD9
 NET "CAMERA_PCLK" CLOCK_DEDICATED_ROUTE = FALSE;
NET CAMERA_HS    LOC=P14 | IOSTANDARD=LVCMOS33; # JD3
NET CAMERA_VS    LOC=U14 | IOSTANDARD=LVCMOS33; # JD7

Net CAMERA_PCLK  TNM_NET = camera_clk_timing ;
TIMESPEC TS_camera_clk_timing = PERIOD camera_clk_timing 25000 kHz ;
OFFSET = IN 4 ns VALID 5 ns BEFORE "CAMERA_PCLK";


